@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hh: 88px; /* header height */
  --fh: 58px; /* footer height */
}

html.dark {
  --background: #111827; /* Tailwind의 gray-900 */
  --foreground: #f9fafb; /* Tailwind의 gray-100 */
}

@media (max-width: 640px) {
  :root {
    --hh: 72px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
